* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #111;
}
#main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cursor {
  height: 20px;
  width: 20px;
  padding: 2px;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  font-size: 5px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9;
  color: black;
}
#image {
  width: 35vw;
  height: 45vh;
  background: #4f4f4f;
  position: relative;
}
#image img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
#overlay {
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
}
