*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: rgb(16, 16, 16);
    overflow-x: hidden;
}
#page1, #page2 , #page3, #page4{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page1{
    background-color: rgb(139, 233, 229);
}
#page2{
    background-color: rgb(42, 159, 153);
}
#page3{
    background-color: rgb(6, 69, 66);
    justify-content: flex-start;
}
#page4{
    background-color: rgb(3, 37, 35);
}
#box{
    width: 300px;
    height: 300px;
    background-color: greenyellow;
}
#page3 h1{
    font-size: 40vw;
    color: white;
    text-transform: uppercase;
}