*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: rgb(16, 16, 16);
}
#page1, #page2 , #page3{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page1{
    background-color: rgb(139, 233, 229);
}
#page2{
    background-color: rgb(42, 159, 153);
}
#page3{
    background-color: rgb(6, 69, 66);
}